<!DOCTYPE html>
<html>
  <head>
    <title>HarvestRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://bootswatch.com/3/flatly/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://unpkg.com/react-table@latest/react-table.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
