<!DOCTYPE html>
<html>
  <head>
    <title>HarvestRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://bootswatch.com/flatly/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
